@import "../../public/assets/plugins/node_modules/bootstrap/scss/_card";

.forum-grid
{
    display: grid;
    grid-template-areas: "header" "body" "footer";

    .forum-header {
        grid-area: header;
        padding: 0 0 0.5rem 0;
        .btn {
            font-weight: bold;
        }
    }
    .forum-body {
        grid-area: body;
        .forum-card {
            @extend .card;
            display: grid !important;
            grid-template-areas: "title stats" "author stats";
            padding: $spacer;
            .card-title {
                grid-area: title;
                margin-bottom: 0;
            }
            .card-author {
                grid-area: author;
            }
            .card-stats {
                grid-area: stats;
                display: block;
                justify-content: flex-end;
                margin: auto;
                margin-right: 0;
            }
            .card-summary {
                grid-area: summary;
                hr {
                    margin-top: $spacer * .5;
                    margin-bottom: $spacer * .5;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
    .forum-footer {
        grid-area: footer;
        padding: 0 1rem;
    }
}