/* Colors */
$light-green: #4fcc6a;
$pale-green: #bdeabc;

/* Backgrounds */
$body-color: #000;
$body-bg: #e1e1e1;

$body-dark-bg: #343a40;

$body-green-bg: #00b52f;
$title-bg: #00b59c;

$overlay-bg: rgba(39, 39, 39, 0.85);

/* Borders */
$border-color-light-grey: #cacaca;

/* Shadows */
$shadow-color: rgba(0, 0, 0, 0.6);
$shadow-box: 2px 2px 5px 0 $shadow-color;
$shadow-glow: 0px 0px 7px 0 $shadow-color;
$shadow-card: 0 4px 8px 0px $shadow-color;