@import "../../public/assets/plugins/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "bootstrap-variables";
@import "../../public/assets/plugins/node_modules/bootstrap/scss/bootstrap";
@import 'bootstrapExtension';
@import "variables";
@import 'snippets';
@import 'grid';
// @import 'forum';

$body-color: #e1e1e1;
body
{
    height: 100%;
    margin: 0;
    background-color: $body-color;
}

.border-grey
{
    border-color: #cacaca !important;
}